@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

.Modal {
  position: fixed;
  z-index: 540;
  background-color: #fff;
  font-family: 'Tajawal';
  min-width: 870px;
  max-height: 500px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  font-size: 1.1rem;
  box-sizing: border-box;
  top: 20%;
  left: 22%;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}
